@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDo List</h1>
    <p class="lead">Сайт с ToDo List, который поможет вам не забыть дела, которыми вы хотели заняться.</p>
    </div>